<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <title>Jasmine suite</title>
  <link rel="shortcut icon" type="image/png" href="/__JASMINE_ROOT__/images/jasmine_favicon.png">
  <% css_files.each do |css_file| %>
    <link rel="stylesheet" href="<%= css_file %>" type="text/css" media="screen"/>
  <% end %>

  <% jasmine_files.each do |jasmine_file| %>
  <script src="<%= jasmine_file %>" type="text/javascript"></script>
  <% end %>
  <% if require_js %>
  <script src="<%= require_js %>" type="text/javascript"></script>
  <% end %>

  <script type="text/javascript">
    var jsApiReporter;
    (function() {
        function startJasmine(){
          var jasmineEnv = jasmine.getEnv();

          jsApiReporter = new jasmine.JsApiReporter();
          var trivialReporter = new jasmine.TrivialReporter();

          jasmineEnv.addReporter(jsApiReporter);
          jasmineEnv.addReporter(trivialReporter);

          jasmineEnv.specFilter = function(spec) {
            return trivialReporter.specFilter(spec);
          };

          jasmineEnv.execute();
        }

<% if require_js %>
        require(['<%= js_files.join("','") %>'],function(){
            require.ready(function(){
                startJasmine();
            })
        });
<% else %>
        window.onload = function() {
            startJasmine();
        };
<% end %>

    })();
  </script>

  <% js_files.each do |js_file| %>
  <script src="<%= js_file %>" type="text/javascript"></script>
  <% end unless require_js %>

</head>
<body>
<div id="jasmine_content"></div>
</body>
</html>
